{% extends 'base.html' %}

{% block title%}Research: Synthesis and Stabilization of Multi-Electron Acceptors and Multi-Electron Donors{% endblock title%}

{%block body %}

<section>


    <style>
        /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 40px;
          text-align: center;
          background: #065269;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>



<div class="header">
    <h1>Synthesis and Stabilization of Multi-Electron Acceptors and Multi-Electron Donors</h1>
    
  </div>
  
</section>


<hr>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} slide start {% endcomment %}
  
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image014.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:400px"/>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
  
           
            {% comment %} slide stop {% endcomment %}
  
  
            <div class="p-6">
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Multi-electron Donors with Mid-IR absorption</b></h1>
              <p class="leading-relaxed mb-3">New class of donor–acceptor (D–A) pi-extended chromophores weresynthesized in which the anhydride- or imide-based -As and number of tetrathiafulvalene (TTF)/dithiafulvalene (DTF) Ds were systematically changed.Large -rings, such as benzoperylene and coronene, were integrated into the TTF/DTF unit, for the first time, to overcome their high insolubility.The anhydride and imide groups in the pi-acceptors significantly alters the frontier orbitals and influence the optoelectronic properties. The D moieties allow the formationofradical cations(RC.+)and the pi-extended Amoieties aid formation of radical anions (RA.-)under ambient conditions. These radical ions show Mid-IR absorption via mixed-valence states.  </p>
              <div>
                <a class="text-indigo-500" >Sudhir, Deepak and co-workers <br> <i>Chem. Eur. J. 2018, 24, 1821.</i> (Frontispiece Article)
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image016.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}


            <div class="p-6">
             
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b>Water-Stable, NIR-absorbing Electron Donors</b></h1>
              <p class="leading-relaxed mb-3">Electron-rich -conjugated dianions are known to be ambient unstable and their stabilization in ambient water is yet to be realized. We report the first example of an exceptionally stable naphthalenediimide (NDI)-based dianion in ambient and hot water, forming one of the most stable redox-active dianion. The half-life (t1/2) of dianion (1a2-) is more than four months in ambient water. The dianionic state was confirmed by X-ray crystallography and by various spectroscopic methods. The noncovalent electronic conduits introduced for the first time in dianions, embrace nO→*CN interactions and aid in delocalizing the dianionic charge as validated from theoretical studies. The dianions harness strong NIR absorption and electron donor ability to organic acceptors and metal ions, which make them suitable for potential green energy applications.</p>
              <div class="flex items-center flex-wrap">
                <a class="text-indigo-500 ">   <br>  Sudhir, and co-workers, <br> <i>Chem. Eur. J. 2017, 23,11802-11809</i>(Frontispiece Article).
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image018.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
            <div class="p-6">
              
              <h1 href="/researchF" class="title-font text-lg font-medium text-gray-900 mb-3"><b>Stable, Water-Soluble Electron-Sponge</b></h1>
              <p class="leading-relaxed mb-3">We report new class of multi-electron acceptors by integrating for the first time multiple Pyridinium/Bipyridinium -cations at the naphthalenediimide-core. These polyions present remarkably low-lying LUMO with water stability, seven-redox states in a narrow window of 1 V and excellent reversibility. Extended conjugation manifests in mixed valence states with NIR absorption. X-ray crystallography also revealed appealing multiple anion- interactions
                .</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 "><br> Jyoti and Co-workers,  <i> Chem. Commun. 2018, 54, 900-903.</i>
                    (Hot Paper and Cover Article).
                  
                </a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>










  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">


        <!-- card start -->
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} slide start {% endcomment %}
  
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image020.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
  
           
  
  
            <div class="p-6">
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"> <b> Synthesis of Black-Absorbing,Multi-Electron-Reservoirs</b></h1>
              <p class="leading-relaxed mb-3">The first successful Buchwald-Hartwig reaction at the naphthalenediimide-core is reported leading to the coupling of diverse secondary aromatic amines including dendritic donors. The G1-dendrimer based donor exhibit blackish color providing access to black absorbing systems. onset values up to 1070 nm was achieved, which is the maximum from a single NDI scaffold. These dyes also manifest multi-electron reservoir properties. A total of eight-redox states with a band gap of 0.95 eV was accomplished.
               
                
                
                </p>
              <div>
                <a class="text-indigo-500 "> <br> Jyoti and Co-workers<br> <i> ,Org.Lett. 2018, 20, 7864-7868</i> 
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>

        <!-- card stop -->



        <!-- card start -->
        <div class="p-4 md:w-1/3">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
             
   
  
             
              
              {% comment %} Start slide show {% endcomment %}
    <style>
    hr { 
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 10em;
      margin-right: 10em;
      border-style: inset;
      border-width: 2px;
      color:black;
      background-color:black;
    } 
    </style>
    <hr>
    {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
    <div class="container my-0  px-0">
    <head>
      <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
    </head>
    
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
    
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
    
      
          <img src="/static/img/researchfile/image011.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    </div>
    
    {% comment %} stop slide show {% endcomment %}
  
  
    
              <div class="p-6">
                
                <h1 href="/researchF" class="title-font text-lg font-medium text-gray-900 mb-3"><b>Stabilization of Radical Cations and Radical Anions Applying H-bonding Interactions</b></h1>
                <p class="leading-relaxed mb-3">We investigated the influence of H-bonding interactions towards the stabilization of NDI-based radical cations and radical anions. The core-substituted amino-NDIs could form persistent radical cations upon oxidation and radical anions upon reduction, respectively. The life-times of the radicals could be influenced depending on the intramolecular H-bonding interactions.In particular, the radical cations showed sharp absorption at 870 nm.
                 
                  
                  .</p>
                <div>
                  <a class="text-indigo-500 "><br> M. R. Ajayakumar,et al. <br><i> Org. Lett. 2012,14, 4822.</i>
                    
                  </a>
                  
                </div>
              </div>
  <!-- card stop -->
  


          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}

