{% extends 'base.html' %}

{% block title%}Publication{% endblock title%}

{% block body %}

<section>


  <style>
      /* Style the body */
      body {
        font-family: Arial;
        margin: 0;
      }
      
      /* Header/Logo Title */
      .header {
        padding: 40px;
        text-align: center;
        background: #065269;
        color: white;
        font-size: 30px;
      }
      
      /* Page Content */
      .content {padding:20px;}
      </style>



<div class="header">
  <h1>Recent key Publications</h1>
  
</div>

</section>

      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">

{% comment %} Paper {% endcomment %}
         {% comment %} Paper 59 {% endcomment %}
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">59. Naphthalenediimides with High Fluorescence Quantum Yield: Bright-Red, Stable, and Responsive Fluorescent Dyes</h2>
                <p class="leading-relaxed">SK Keshri, K Mandal, Y Kumar, D Yadav, P Mukhopadhyay
                    Chemistry (Weinheim an der Bergstrasse, Germany)</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

            {% comment %} Paper 58 {% endcomment %}
            <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">58. Facile access to multi-state redox-active, push–pull naphthalenediimides: panchromatic radical anions and supramolecular networks</h2>
                <p class="leading-relaxed">D Bansal, P Mukhopadhyay
                    Journal of Materials Chemistry C 9 (11), 3948-3956</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

            {% comment %} Paper 57 {% endcomment %}
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">57. Synthesis of Stable, High-SOMO Zwitterionic Radicals: Enabling Electron Transfer Between Naphthalenediimides.</h2>
                <p class="leading-relaxed">J. Shukla, S. Kumar, Rustam, P. Mukhopadhyay*<br>
                                            Org. Lett.2020, 22, 6229-6233.(Cover Article)<br>
                                           doi.org/10.1021/acs.orglett.0c01263
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

            {% comment %} Paper 56 {% endcomment %}
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">56. Halogen Bonded Assemblies of Arylene-imides and -diimides: Insight from Electronic, Structural and Computational studies.</h2>
                <p class="leading-relaxed">Mandal, D. Bansal, Y. Kumar, Rustam, J. Shukla, P. Mukhopadhyay*		<br>		Chem. Eur. J. 2020, 26, 10607-10619.
                                  <br>https://doi.org/10.1002/chem.202001706
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 55  {% endcomment %}

           <div class="py-8 flex flex-wrap md:flex-nowrap">
            
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">55. Synthesis of Novel Ciproﬂoxacin-Based Hybrid Molecules toward 2 Potent Antimalarial Activity. 
           </h2>
                <p class="leading-relaxed">     <br>	S. Dana, P. Valissery, S. Kumar, S. K. Gurung, N. Mondal, S. K. Dhar,*P. Mukhopadhyay* 
                <br>		ACS Med. Chem. Lett.2020, 11, 1450–1456.
                <br>https://dx.doi.org/10.1021/acsmedchemlett.0c00196</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 54 {% endcomment %}

           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">54. Molecular and Supramolecular Multiredox Systems.</h2>
                <p class="leading-relaxed">J. Shukla, V. P. Singh, P. Mukhopadhyay*
                   <br><i>ChemistryOpen2020, 9, 304-324.</i>
                   (Invited article: Special Collection on Functional Supramolecular Systems)
                   <br>https://doi.org/10.1002/open.201900339
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 53 {% endcomment %}

           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">53. Doubly-Zwitterionic, Di-reduced, Highly Electron-Rich, Air-Stable Naphthalenediimides: Redox-Switchable Islands of Aromatic-Antiaromatic States.</h2>
                <p class="leading-relaxed">Kumar, S., Shukla, J., Mandal, K., Kumar, Y., Prakash, R., Ram, P., Mukhopadhyay, P.*<br>
            <i>Chem. Sci. 2019, 10, 6482-6493.</i><br>
        DOI: 10.1039/C9SC00962K
        </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 52 {% endcomment %}

           <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">52. Synthesis of Functionalized Naphthalene Diimides and their Redox Properties</h2>
                <p class="leading-relaxed">J. Shukla, P.Mukhopadhyay*
              <br><i>Eur. J. Org. Chem. 2019, 7770-7786.</i> (Invited article) and (Cover article).<br>
            https://doi.org/10.1002/ejoc.201901390
            </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 51 {% endcomment %}

           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">51. Synthesis and Isolation of a Stable Perylenediimide Radical Anion and Its Exceptionally Electron-Deficient Precursor</h2>
                <p class="leading-relaxed">Y. Kumar, S. Kumar, D. Bansal, P.Mukhopadhyay*<br>
               <i>Org. Lett. 2019, 21, 2185-2188.</i><br>
              https://doi.org/10.1021/acs.orglett.9b00490
              </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 50 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">50. Ionic Assembly, Anion‐π, Magnetic and Electronic Attributes of Ambient Stable Naphthalenediimide Radical Ions</h2>
                <p class="leading-relaxed">S. Kumar, V. Malik, J. Shukla, Y. Kumar, D. Bansal, R. Chatterjee, P. Mukhopadhyay*<br>
                <i>Chem. Eur. J. 2019, 25, 4740-4750.</i><br>
              https://doi.org/10.1002/chem.201805978
               </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 49 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">49. Core-insertion of palladium in naphthalenediimides: Opto-electronic properties, structural insights and coupling studies</h2>
                <p class="leading-relaxed">D. Bansal, Y. Kumar, S. Kumar, K. Mandal, G.Hundal, P.Mukhopadhyay*<br>
                       <i>Inorg. Chim. Acta,2019, 486, 185-192 </i> (Invited Article: Special Issue).<br>
                    https://doi.org/10.1016/j.ica.2018.09.077
                      </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 48 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">48. Downregulation of c-Myc and p21 expression and induction of S phase arrest by naphthalene diimide derivative in gastric adenocarcinoma cells</h2>
                <p class="leading-relaxed">S. Gurung, S. Dana, K. Mandal, P.Mukhopadhyay,N.Mondal*<br>
                <i>Chemico-biological interactions, 2019, 304, 106-123.</i>
                 https://doi.org/10.1016/j.cbi.2019.02.010
                   </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 47 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">47. Isolation of Tetracyano‐Naphthalenediimide and Its Stable Planar Radical Anion</h2>
                <p class="leading-relaxed">Y. Kumar, S. Kumar, K. Mandal,  P. Mukhopadhyay*<br>
               <i>Angew. Chem. Int. Ed. 2018, 57, 16318-16322 </i>(Hot Paper and Cover Article).<br>
               doi: 10.1002/anie.201807836
                     </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 46 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">46. Buchwald-Hartwig Coupling at the Naphthalenediimide Core: Access to Dendritic, Panchromatic NIRAbsorbers with Exceptionally Low Band Gap</h2>
                <p class="leading-relaxed">J. Shukla, M. R. Ajayakumar, P. Mukhopadhyay*<br>
              <i>Org. Lett. 2018, 20, 7864-7868.</i><br>
               https://doi.org/10.1021/acs.orglett.8b03408
                  </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 45 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2  class="text-2xl font-medium text-gray-900 title-font mb-2">45. Ambient stable naphthalenediimide radical ions: synthesis by solvent-free, sonication, mechanical grinding or milling protocols</h2>
                <p class="leading-relaxed">S. Kumar, P. Mukhopadhyay*<br>
<i>Green Chem., 2018, 20, 4620-4628</i>(Cover Article).<br>
https://doi.org/10.1039/C8GC01614C
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 44 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">44. Electron sponge from naphthalenediimide–viologen conjugates: water-stable, highly electron-deficient polyions with 1 V potential window</h2>
                <p class="leading-relaxed">J. Shukla, M. R.Ajayakumar, Y. Kumar, P. Mukhopadhyay*
<i>Chem. Commun. 2018, 54, 900-903.</i><br>
https://doi.org/10.1039/C7CC09372A
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 43 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">43. Electron-poor arylenediimides</h2>
                <p class="leading-relaxed">S. Kumar, J. Shukla, Y. Kumar, P. Mukhopadhyay*<br>
<i>Org. Chem. Front. 2018, 5, 2254-2276.</i><br>
https://doi.org/10.1039/C8QO00256H
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 42 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">42.	Appending Diverse π‐Extended Acceptors with Tetrathiafulvalene/Dithiafulvalene Donors: Multistate Redox Properties, Radical Ion Generation, and Mid‐IR‐Absorbing Mixed Valence States</h2>
                <p class="leading-relaxed">S. K.Keshri, D. Asthana, S.Chorol, Y. Kumar, P. Mukhopadhyay*<br>
<i>Chem. Eur. J. 2018, 24, 1821-1832</i> (Frontispiece Article).<br>
https://doi.org/10.1002/chem.201880865
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 41 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">41. Facile access to multi-state redox-active, push–pull naphthalenediimides: panchromatic radical anions and supramolecular networks</h2>
                <p class="leading-relaxed">S. K.Keshri, D. Asthana, S.Chorol, Y. Kumar, P. Mukhopadhyay*<br>
<i>Chem. Eur. J. 2018, 24, 1821-1832</i> (Frontispiece Article).<br>
https://doi.org/10.1002/chem.201880865
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 40 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">40. Role Reversal of the Carboxylate Group from Coordination to Hydrogen Bonding Only, in Structurally Diverse Metal-2-amino, 5-Nitro-benzoates: A First Report</h2>
                <p class="leading-relaxed">A.	K.Jassal, B. S.Sran, K. Mandal, P. Mukhopadhyay, G.Hundal*<br>
<i>Crystal Growth & Design, 2018, 18, 4737-4748.</i>
https://doi.org/10.1021/acs.cgd.8b00771
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 39 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">39. Ambient Water‐Stable Dianionic Electron Donors: Intramolecular Noncovalent Conduits Assist Charge Delocalization</h2>
                <p class="leading-relaxed">S. K.Keshri, S. Kumar, K. Mandal, P. Mukhopadhyay*<br>
<i>Chem. Eur. J. 2017, 23, 11802-11809 </i>(Frontispiece Article).<br>
https://doi.org/10.1002/chem.201701868
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 38 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">38. Synthesis of octabromoperylene dianhydride and diimides: evidence of halogen bonding and semiconducting properties</h2>
                <p class="leading-relaxed">Y. Kumar, S. Kumar, S. K.Keshri, J.Shukla, S. S. Singh, T. S. Thakur, M. Denti, A. Fachetti,*P. Mukhopadhyay*<br>
<i>Org. lett. 2016, 18, 472-475.</i><br>
https://doi.org/10.1021/acs.orglett.5b03513
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 37 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">37. Recent Advances in Organic Radicals and Their Magnetism</h2>
                <p class="leading-relaxed">S. Kumar, Y. Kumar, S. K.Keshri, P. Mukhopadhyay*<br>
                    <i>Magnetochemistry, 2016, 2, 42 </i>(Invited Review).<br>
https://doi.org/10.3390/magnetochemistry2040042
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 36 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">36. Design, Synthesis and Evaluation of Bifunctional Acridinine−Naphthalenediimide Redox-Active Conjugates as Antimalarials</h2>
                <p class="leading-relaxed">S. Dana, S. K.Keshri, J. Shukla, K. S.Vikramdeo, N. Mondal, P. Mukhopadhyay*, S. K. Dhar*<br>
<i>ACS Omega, 2016, 1, 318-333.</i><br>
https://doi.org/10.1021/acsomega.6b00060
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 35 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">35. Assorted morphosynthesis: access to multi-faceted nano-architectures from a super-responsive dual πfunctional amphiphilic construct</h2>
                <p class="leading-relaxed">D. Asthana, J. Shukla, S. Dana, V. Rani, M.R. Ajayakumar, K. Rawat, K. Mandal, P. Yadav, S. Ghosh, P. Mukhopadhyay*<br>
<i>Chem. Comm. 2015, 51, 15237-15240 </i>(Cover Article).<br>
https://doi.org/10.1039/C5CC05198C
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 34 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">34. Self-assembly characteristics of a multipolar donor-acceptor–based bis-pyrene integrated molecular tweezer</h2>
                <p class="leading-relaxed">D. Asthana, G.Hundal, P. Mukhopadhyay*<br>
<i>J. Chem. Sci. 2014, 126, 1331-1336 </i>(Invited Article,Special issue on Chemical Crystallography).
https://doi.org/10.1007/s12039-014-0687-8
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 33 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">33. Potent Antimalarial Activity of Acriflavine In Vitro and In Vivo</h2>
                <p class="leading-relaxed">S. Dana, D.Prusty, D.Dhayal, M. K. Gupta, A. Dar, S. Sen, P. Mukhopadhyay, T. Adak, S. K. Dhar*<br>
<i>ACS chem.Biol.2014, 9, 2366-2373.</i><br>
https://doi.org/10.1021/cb500476q
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 32 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">32. Self-assembly patterns of steroid-based all-organic ferroelectrics: valuable insights from the single-crystals derived from an organogel and solution</h2>
                <p class="leading-relaxed">D. Asthana, S. K.Keshri, G.Hundal, G. Sharma, P. Mukhopadhyay*<br>
<i>Cryst. Eng. Comm. 2014, 16, 4861-4866 </i>(Invited Article, Themed issue on International Year of Crystallography).<br>
https://doi.org/10.1039/C4CE00013G
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 31 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">31.	Single electron transfer-driven multi-dimensional signal read-out function of TCNQ as an “Off-the-Shelf” detector for cyanide</h2>
                <p class="leading-relaxed">M. R.Ajayakumar, K. Mandal, K. Rawat, D. Asthana, R. Pandey, A. Sharma, S. Yadav, S. Ghosh, P. Mukhopadhyay*<br>
<i>ACS applied materials & interfaces, 2013, 5, 6996-7000</i> (Cover Article).<br>
https://doi.org/10.1021/am4011176
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 30 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">30.	Urea-based constructs readily amplify and attenuate nonlinear optical activity in response to H-bonding and anion recognition</h2>
                <p class="leading-relaxed">D. Asthana, R. Pandey, P. Mukhopadhyay*<br>
<i>Chem. Commun. 2013, 49, 451-453 </i>(Cover Article).<br>
https://doi.org/10.1039/C2CC36631B
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 29 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">29. A tetrastablenaphthalenediimide: anion induced charge transfer, single and 
double electron transfer for combinational logic gates
</h2>
                <p class="leading-relaxed">M. R. Ajayakumar, G. Hundal, P. Mukhopadhyay*<br>
<i>Chem. Commun. 2013, 49, 7684-7686 </i>(Cover Article).<br>
https://doi.org/10.1039/C3CC43280G
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 28 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">28. NTCDA–TTF first axial fusion: emergent panchromatic, NIR optical, multi-state redox and high optical contrast photooxidation</h2>
                <p class="leading-relaxed">D. Asthana, M. R.Ajayakumar, R. P. Pant, P. Mukhopadhyay*<br>
<i>Chem. Commun. 2012, 48, 6475-6477</i> (Cover Article).<br>
https://doi.org/10.1039/C2CC31274C
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 27 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">27. Core-modified naphthalenediimides generate persistent radical anion and cation: New panchromatic NIR probes</h2>
                <p class="leading-relaxed">M. R.Ajayakumar, D. Asthana, P. Mukhopadhyay*<br>
             <i>Org. lett. 2012, 14, 4822-4825.</i><br>
https://doi.org/10.1021/ol302140x
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 26 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">26. Assemblies of perylene diimide derivatives with melamine into luminescent hydrogels</h2>
                <p class="leading-relaxed">P. K.Sukul, D. Asthana, P. Mukhopadhyay, D. Summa, L.Muccioli, C.Zannoni, D. Beljonne,*  A. E.     Rowan,* S. Malik*<br>
<i>Chem. Commun. 2011, 47, 11858-11860.</i><br>
https://doi.org/10.1039/C1CC14189A
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 25 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">25. An all-organic steroid–D–π-A modular design drives ferroelectricity in supramolecular solids and nano-architectures at RT</h2>
                <p class="leading-relaxed">D. Asthana, A. Kumar, A. Pathak, P. K.Sukul, S. Malik, R. Chatterjee, S. Patnaik, K. Risannen, P.Mukhopadhyay* <br>
<i>Chem. Commun. 2011, 47, 8928-8930.</i><br>
https://doi.org/10.1039/C1CC12398J
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 24 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">24. Single-electron transfer driven cyanide sensing: a new multimodal approach</h2>
                <p class="leading-relaxed">M. R.Ajayakumar, S. Yadav, S. Ghosh, P. Mukhopadhyay*<br>
                <i>Org. lett. 2010, 12, 2646-2649.</i><br>
               https://doi.org/10.1021/ol1008558
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 23 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">23. Regulation of a Real‐Time Self‐Healing Process in Organogel Tissues by Molecular Adhesives</h2>
                <p class="leading-relaxed">P. Mukhopadhyay*, N. Fujita*, A. Takada, T. Kishida, M. Shirakawa, S.Shinkai*<br>
<i>Angew. Chem. Int. Ed. 2010, 49, 6338-6342.</i><br>
https://doi.org/10.1002/anie.201001382
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 22 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">22. Deconvolution of a multi-component interaction network using systems chemistry</h2>
                <p class="leading-relaxed">S. Ghosh, P. Mukhopadhyay, L. Isaacs<br>
<i>Journal of Systems Chem. 2010, 1, 6.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 21 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">21. Naphthalene-bis-hydrazimide: radical anions and ICT as new bimodal probes for differential sensing ofa library of amines</h2>
                <p class="leading-relaxed">M.R. Ajayakumar, P. Mukhopadhyay*<br>
<i>Chem. Commun. 2009, 3702-3704</i> (Cover Article).<br>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 20 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">20. Reconfigurable four-component molecular switch based on pH-controlled guest swapping</h2>
                <p class="leading-relaxed">S. Chakrabarti, P. Mukhopadhyay, S. Lin, L. Isaacs*<br>
<i>Org.lett. 2007, 9, 2349-2352.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 19 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">19. Creation of 1D [60] fullerene superstructures and its polymerization by γ-ray irradiation</h2>
                <p class="leading-relaxed">S. Malik, N. Fujita, P. Mukhopadhyay, Y.Goto, K. Kaneko, T. Ikeda, S.Shinkai<br>
<i>J. Mater. Chem. 2007, 17, 2454-2458.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 18 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">18. High fidelity kinetic self-sorting in multi-component systems based on guests withmultiple binding epitopes</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, P. Y.Zavalij, L. Isaacs*<br>
<i>J. Am. Chem. Soc. 2006,128, 14093-14102.</i>

</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 17 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">17. Spontaneous colorimetric sensing of the positional isomers of dihydroxynaphthalene in a 1D organogel matrix</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, Y. Iwashita, M. Shirakawa, S. Kawano, N. Fujita, S.Shinkai*<br>
<i>Angew. Chem. 2006,118, 1622-1625.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 16 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">16. Fluorescence signaling systems with a cryptand receptor incorporating electron-withdrawing groups: Metal ion specificity and solvent dependence</h2>
                <p class="leading-relaxed">B. Bag, P. Mukhopadhyay, P. K. Bharadwaj*<br>
<i>J.Photochem.Photobiol. A: Chemistry. 2006, 181, 215-225.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 15 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">15. Recent development of organogels towards smart and soft materials</h2>
                <p class="leading-relaxed">N. Fujita, P. Mukhopadhyay, S.Shinkai* <br><i>Annual Review of Nano Research, 2006, 385-428.</i></p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 14 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">14. Exocyclic coordination and translocation of metal ions in laterally non-symmetric aza cryptands</h2>
                <p class="leading-relaxed">B. Bag, P. Mukhopadhyay, P. K. Bharadwaj*<br>
              <i>Current Science, 2006, 1166-1175.</i>
               </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 13 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">13. Recognition properties of naphthalenediimideorganogel</h2>
                <p class="leading-relaxed">N. Fujita, P. Mukhopadhyay*, M. Shirakawa, Y. Iwashita, S. –i. Kawano, S. Shinkai*<br>
                55th Society of Polymer Science Japan Symposium on Macromolecules, 2006, 2689-2690.
                 </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 12 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
             
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">12. On the binding selectivity of the cucurbit [n] uril family</h2>
                <p class="leading-relaxed"> S. M Liu, C.Ruspic, J.Lagona, P. Mukhopadhyay, P.Y.Zavalij, L. Isaacs<br>
               <i>Abstracts of papers of the American Chemical Society, 2005, 230, U3303-U3303</i>
               </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>


          {% comment %} Paper 11 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">11. The Cucurbit[n]uril Family</h2>
                <p class="leading-relaxed">J. Lagona, P. Mukhopadhyay, S. Chakrabarti, L. Isaacs*<br>
              <i>Angew. Chem. Int. Ed. 2005, 44, 4844-4870.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 10 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">10. The cucurbit [n] uril family: prime components for self-sorting systems</h2>
                <p class="leading-relaxed">S. Liu, C.Ruspic, P. Mukhopadhyay*, S. Chakrabarti, P. Y.Zavalij, L. Isaacs*<br>
              <i>J. Am. Chem. Soc. 2005, 127, 15959-15967.</i>
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 9 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">9.	Social self-sorting in aqueous solution</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, A. Wu, L. Isaacs*<br>
               <i>J. Org. Chem. 2004, 69, 6157-6164.</i>
              </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>


          {% comment %} Paper 8 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">8.	Molecular clips form isostructural dimeric aggregates from benzene to water</h2>
                <p class="leading-relaxed">A. Wu, P. Mukhopadhyay, A. Chakraborty, J. C.Fettinger, L. Isaacs*<br>
              <i>J. Am. Chem. Soc. 2004, 126, 10035-10043.</i>
               </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 7 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">7. Modulation of SHG responses via supramolecular association/dissociation between twocomplementarycryptands</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, P. K. Bharadwaj, A. Krishnan, P. K. Das<br>
                 <i>J. Organometallic Chem. 2004, 689, 4877-4881.</i>
                  </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 6 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">6. Laterally non-symmetric aza-cryptands: synthesis, catalysis and derivatization to new receptors</h2>
                <p class="leading-relaxed">B. Sarkar, P. Mukhopadhyay, P. K. Bharadwaj<br>
             <i>Coord. Chem. Rev. 2003, 236, 1-13.</i>
             </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 5 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">5.	Metal binding characteristics of a laterally nonsymmetric aza cryptand upon functionalization with 
                  a π-acceptor group</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, B. Sarkar, P. K. Bharadwaj, K.Nättinen, K.Rissanen<br>
               <i>Inorg. Chem. 2003, 42, 4955-4960.</i>
               </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 4 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">4.	Binding of nitrate anion in a supramolecularly constructed macrocycle</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, R. J. Butcher, P. K. Bharadwaj, <br><i> Indian J. Chem. A. 2003, 42A, 2316-2319.</i></p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 3 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">A new class of three dimensional D–π–A trigonal cryptand derivatives for second-order nonlinear optics</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, P. K. Bharadwaj, G. Savitha, A. Krishnan, P. K. Das<br>
<i>J. Mater. Chem. 2002, 12, 2237-2244.</i>
</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 2 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">2.	Synthesis and characterization of mono-and bis-D–π–A cryptand derivatives for second-order NLO and its 
                          Modulation with different metal ions </h2>
                <p class="leading-relaxed">P. Mukhopadhyay, P. K. Bharadwaj, A. Krishnan, P. K. Das<br>
                           <i>J. Mater. Chem. 2002, 12, 2786-2791.</i>
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>

          {% comment %} Paper 1 {% endcomment %}
           <div class="py-8 flex flex-wrap md:flex-nowrap">
              
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">1. The first D–π–A octupolar cryptand molecule to exhibit bulk non-linearity</h2>
                <p class="leading-relaxed">P. Mukhopadhyay, P. K. Bharadwaj, G. Savitha, A. Krishnan, P. K. Das<br><i>Chem. Commun. 2000, 1815-1816.
              </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">PDF
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>


















          
            </div>
          </div>
        </div>
      </section>








{% endblock body %}
