{% extends 'base.html' %}

{% block title%}Research1{% endblock title%}

{%block body %}

<section>


    <style>
        /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 40px;
          text-align: center;
          background: #065269;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>



<div class="header">
    <h1>Synthesis and Stabilization of Organic Radical Ions</h1>
    
  </div>
  
</section>


<hr>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} slide start {% endcomment %}
  
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image002.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:400px"/>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
  
           
            {% comment %} slide stop {% endcomment %}
  
  
            <div class="p-6">
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Highly Electron-rich Zwitterionic Radicals and Electron Transfer Properties</b></h1>
              <p class="leading-relaxed mb-3">Electron donor ability of organic radicals has not been attempted due to instability, and reactivity challenges. We have now been able to synthesize and isolate, Naphthalenediimide-based (NDI·±) zwitterionic radicals, which bestow SOMO levels up to -4.04 eV. As a result, reduction of electron-deficient NDI is realized with NDI·± radicals in their ground-states. Notably, reduction of the NDI unit applying a -electron donor is unprecedented, and has been limited to inorganic/organometallic reagents or by light-driven excited-states. </p>
              <div>
                <a class="text-indigo-500" >Jyoti, Sharvan and co-workers, <br> <i>Org. Lett.2020, 22, 6229-6233.</i> (Cover Article).
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image003.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}


            <div class="p-6">
             
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b>Synthesis and Isolation of PDI-based Radical Anion</b></h1>
              <p class="leading-relaxed mb-3">We recently isolated We recently isolated the first perylenediimide (PDI) based radical anion which is stabilized by intramolecular C=O∙∙∙CN interactions as well as by forming multiple C=H∙∙∙O-H-bonding interactions with the phosphonium counter cation.</p>
              <div class="flex items-center flex-wrap">
                <a class="text-indigo-500 ">   <br><br><br><br><br><br>   Yogendra and co-workers, <br> <i>Org. Lett. 2019, 21, 2185-2188.</i>
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image005.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
            <div class="p-6">
              
              <h1 href="/researchF" class="title-font text-lg font-medium text-gray-900 mb-3"><b>Synthesis and Isolation of a Planar Radical Anion and one of the strongest Electron-Acceptor</b></h1>
              <p class="leading-relaxed mb-3">isolated an ambient stable planar NDI radical anion. The ambient stabilization is facilitated by intramolecular C=O∙∙∙CN non-covalent interactions and intermolecular CH∙∙∙O type multiple H-bonding interactions
                .</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 "><br><br><br><br><br>   Yogendra and co-workers,  <i> Angew. Chem. Int. Ed. 2018, 57, 16318.</i>
                    (Hot Paper and Cover Article).
                  
                </a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>










  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} slide start {% endcomment %}
  
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image007.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
  
           
            {% comment %} slide stop {% endcomment %}
  
  
            <div class="p-6">
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"> <b> Eco-friendly, Solvent-Free, Green synthesis of Radical Ions</b></h1>
              <p class="leading-relaxed mb-3">Eco-friendly, green synthetic routes could be developed leading to the isolation of twenty-four ambient stable radical ions.This is the first instance whereby green synthetic routes have been extended towards the synthesis of radical ions.
               
                
                
                </p>
              <div>
                <a class="text-indigo-500 "> <br><br><br><br>  Sharvan,<br> <i> Green. Chem. 2018, 20, 4620.</i> <br> <p >See also: <a href=" https://www.chemistryworld.com/news/radical-ion-synthesis-finally-embraces-green-chemistry/3009356.article">  Chemistry World</a></p>
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
           
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image009.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}


            <div class="p-6">
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Synthesis and Stabilization of Radical Ions and Highly Electron Deficient Molecules, Applying Intramolecular P---O Interactions</b></h1>
              <p class="leading-relaxed mb-3">As one of the successful design ideas, we employed intramolecular non-covalent interactions to isolatefor the first time ambient stable, crystallinenaphthalenediimide (NDI) radical ions. Intramolecular P∙∙∙Ointeractions aid in stabilization of these radical ions. Computational studies have shown these interactions to originate via n* donor-acceptor type orbital interactions.
                
                </p>
              <div>
                <a class="text-indigo-500 "><br> Sharvan, M. R. Ajayakumar, et al. <br> <i> J. Am. Chem. Soc. 2014, 136, 12004.</i>
                 
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            
            {% comment %} Start slide show {% endcomment %}
  <style>
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
    color:black;
    background-color:black;
  } 
  </style>
  <hr>
  {% comment %} <div class="container-fluid my-0  px-0"> {% endcomment %}
  <div class="container my-0  px-0">
  <head>
    <style>.carousel-inner > .item > img { width:100%; !important; height:400px; max-height: 400px;} </style>
  </head>
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
    
        <img src="/static/img/researchfile/image011.jpg" class="d-block w-100"  alt="the-buzz-img3"  style="height:410px"/>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
  
  {% comment %} stop slide show {% endcomment %}
            <div class="p-6">
              
              <h1 href="/researchF" class="title-font text-lg font-medium text-gray-900 mb-3"><b>Stabilization of Radical Cations and Radical Anions Applying H-bonding Interactions</b></h1>
              <p class="leading-relaxed mb-3">We investigated the influence of H-bonding interactions towards the stabilization of NDI-based radical cations and radical anions. The core-substituted amino-NDIs could form persistent radical cations upon oxidation and radical anions upon reduction, respectively. The life-times of the radicals could be influenced depending on the intramolecular H-bonding interactions.In particular, the radical cations showed sharp absorption at 870 nm.
               
                
                .</p>
              <div>
                <a class="text-indigo-500 "><br> M. R. Ajayakumar,et al. <br><i> Org. Lett. 2012,14, 4822.</i>
                  
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}