{% extends 'base.html' %}

{% block title%}reviews{% endblock title%}

{% block body %}

<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col{
 width:25%;
 height:100px;
 text-align:center;
 padding:5px;
  margin:2px;
  border:1px solid gray;
   display:inline-block;
}
</style>
    



<section>


    <style>
        /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 40px;
          text-align: center;
          background: #065269;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>
  
  
  
  <div class="header">
    <h1>Reviews</h1>
    
  </div>
  
  </section>







<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-14 mx-auto">
    <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
      
        <h2 class="sm:text-3xl text-xl title-font font-medium text-gray-900 mt-4 mb-4">Molecular and Supramolecular Multiredox Systems</h2>
        <p class="leading-relaxed mb-8">JyotiShukla, VijayPal Singh, and PritamMukhopadhyay*<br>
        </p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a class="text-indigo-500 inline-flex items-center" href="/static/pdf/review1.pdf">PDF
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
         
        </div>
       
      </div>

         <div class="p-12 md:w-1/2 flex flex-col items-start">
        <h2 class="sm:text-3xl text-xl title-font font-medium text-gray-900 mt-4 mb-4">Synthesis of Functionalized Naphthalene Diimides and their Redox Properties </h2>
        <p class="leading-relaxed mb-8">Jyoti Shukla, Pritam Mukhopadhyay
         </p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a class="text-indigo-500 inline-flex items-center" href="/static/pdf/review2.pdf">PDF
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
         
        </div>
       
      </div>



    
    </div>
  </div>
</section>




<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-2 mx-auto">
    <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <h2 class="sm:text-3xl text-xl title-font font-medium text-gray-900 mt-4 mb-4">Recent advances in organic radicals and their magnetism</h2>
        <p class="leading-relaxed mb-8">S. Kumar, Y. Kumar, S. K. Keshri,<b> P. Mukhopadhyay*</b><br> <i>Magnetochemistry, 2016, 2, 42</i> (Invited Review)

        </p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a class="text-indigo-500 inline-flex items-center" href="/static/pdf/review4.pdf">PDF
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
         
        </div>
       
      </div>

         <div class="p-12 md:w-1/2 flex flex-col items-start">
        <h2 class="sm:text-3xl text-xl title-font font-medium text-gray-900 mt-4 mb-4">Electron-poor arylenediimides</h2>
        <p class="leading-relaxed mb-8">S. Kumar, J. Shukla, Y. Kumar, <b>P. Mukhopadhyay*</b><i><br> Org. Chem. Front. 2018, 5, 2254-2276.</i> (Invited Review).</p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a class="text-indigo-500 inline-flex items-center" href="/static/pdf/review4.pdf">PDF
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
         
        </div>
       
      </div>



    
    </div>
  </div>
</section>








{% endblock body %}