{% extends 'base.html' %}

{% block title%}Group{% endblock title%}

{% block body %}



<section>


  <style>
      /* Style the body */
      body {
        font-family: Arial;
        margin: 0;
      }
      
      /* Header/Logo Title */
      .header {
        padding: 40px;
        text-align: center;
        background: #065269;
        color: white;
        font-size: 30px;
      }
      
      /* Page Content */
      .content {padding:20px;}


      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        }


        .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 17px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
      </style>



<div class="header">
  <h1>Group Members</h1>
  
</div>

</section>

<section class="text-gray-600 body-font">
  <div class="container px-2 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">

<!-- Pritam -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden ">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/pritam.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Group Leader</h2>
            <h1  class="title-font text-lg font-medium text-gray-900 mb-3"> <a href="/pritam2"><b> Dr. Pritam Mukhopadhyay </b></a></h1>
            
            
            
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>His group’s research interests involve various aspects of design, synthesis and stabilization of organic radical ions, synthesis of 
              organic multi-electron redox active systems. design and synthesis of organic molecular and supramolecular materials, e.g., organic near-infrared and 
              mid-IR absorbers, panchromatic molecules, multi-channel radical-based sensors, organic semiconductors, 
              organic ferroelectrics, organic piezoelectrics, and organic NLO-active materials.</p>
            </div>


            <button class="button">
               <a href="mailto:rustam@gmail.com">m_pritam@mail.jnu.ac.in </a>
           </button>
            
          </div>
        </div>
        <hr>
      </div>

      <hr>
<!-- Sunanda -->

      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/sunanda.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Post Doctorol Student</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Sunanda Sahana </b></h1>
            <button type="button" class="collapsible">Research Interest</button>
            <div class="content">

            <p>Sunanda Sahana obtained her B.Sc and M.Sc from The University of Burdwan,
              West Bengal, India. She earned her Ph.D. from IIT Kanpur, India under the
              guidance of Prof. P. K. Bharadwaj. She then joined our group as a DST Women
              Scientist-A and is currently working in synthesis and stabilization of
              Naphthalene diimides (NDI) based extended molecular and supramolecular
              organic radical and radical ion systems.</p>
            </div>

            
            <button class="button">

              <a href="mailto:rustam@gmail.com">sunanda.sahana@gmail.com </a>

              
            </button>
            <div class="flex items-center flex-wrap">
              
            </div>
          </div>
          
        </div>
      </div>

    <!-- Rustam -->

      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/rustam.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Rustam Tamim </b></h1>
           

              <button type="button" class="collapsible">Research Interest</button>
            <div class="content">

            <p>Rustam received his B. Sc. degree from Nangarhar University Jalalabad,
              Afghanistan and M. Sc. degree from Institut Teknologi Sepuluh Nopember
              Surabaya, Indonesia. To pursue his Ph. D. degree he joined Dr. Pritam
              Mukhopadhyay’s group at Jawaharlal Nehru University New Delhi in 2016. His
              research interests include synthesis and isolation of phosphinoyl-based
              naphthalenediimides and its radical anions, synthesis of contorted electron
              deficient bromonaphthalenemono-anhydrides, bromonaphthalenemono-
              imides and their self-assembly, synthesis and isolation of stable radical anions of naphthalenemono-
              imides and their single crystal study. He also synthesized phenylthio compounds of
              naphthalenemono-imides.</p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">rustamniazai@gmail.com</a>

                
              </button>
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>


      <!-- Vijay -->

      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/vijay.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Vijay Pal Singh </b></h1>
            


              <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
              <div class="content">
  
              <p>Vijay Pal Singh received his B. Sc. and M. Sc. Degrees from Mahatma jyotiba
                Phule Rohilkhand university Bareilly, India. To pursue his Ph. D. degree, he
                joined Dr. Pritam Mukhopadhyay’s group at Jawaharlal Nehru University New
                Delhi in 2016. His research interests Design and synthesis of
                Naphthalenediimides Corona Arenes Donor-based pillar [n]- Quinones Radical
                Ions Pseudoraotaxane to Rotaxane and Extended molecular boxes as Electron
                Reservoirs.</p>
              </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">vijaypalsinghmsc.chy@gmail.com</a>

                
              </button>
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          
        </div>
      </div>


      <!-- Sonam -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/sonam.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Sonam Chorol</b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>Sonam Chorol received her B. Sc. and M. Sc. degrees from Kirori Mal College,
              University of Delhi, India. To pursue her Ph. D. degree, she joined Dr. Pritam
              Mukhopadhyay’s group at Jawaharlal Nehru University New Delhi in 2016. Her
              research interests include synthesis and characterization of lower dimensional
              organic-inorganic hybrid material of large π-surface organic molecule in solar cell
              and semi-conducting applications, and also focused on synthesis of earth
              abundant less toxic metal in hybrid material. She is also involved in synthesis of ionic radical gel
              compound, their properties and characterizations.</p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">sonamadu01@gmail.com</a>

                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>


      <!-- Devendra -->

      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/devendra.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Devendra Yadav </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p> </p>
            </div>

            <button class="button">

              <a href="mailto:rustam@gmail.com">mailtodevd1@gmail.com </a>

              
            </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>

      <!-- Poonam -->

      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/poonam.png" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Poonam Saini </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>Poonam Saini received her B. Sc. degrees from University of Rajasthan, jaipur,
              India and M. Sc. Degree from Pandit Deendayal Upadhyaya Shekhawati
              University, Sikar, India. To pursue her Ph. D. degree she joined Dr. Pritam
              Mukhopadhyay’s group at Jawaharlal Nehru University New Delhi in 2019. Her
              research interests include synthesis of ambient neutral radicals which show
              different properties like conductivity, magnetism, optical and Spintronics so that they can be used in
              quantum computing.</p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">poonamkhadoliya1995@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>

      <!-- Swaranika -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/smaranika.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Swaranika Patra </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>Synthesis of SCO, SMM etc. materials
              showing hysteresis, sharp spin state crossover, luminescence, etc. properties feasible to be used in
              the generation of memory-based devices and ML projects. Her research interests include meta
              materials, superconductivity, perovskites, bioconjugates, etc.</p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">smaranika96.patra@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>


      <!-- Varun -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/varun.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Varun Bhalla </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>Varun has done his graduation in B.Sc Chemistry from University of Delhi in 2018 followed by a Master's in chemistry from Jamia Milllia Islamia that got completed in 2020. He has done his post graduation research project in "Synthesis and characterization of Zn doped TiO2 nano materials" under the supervision of Tokeer Ahmad. Currently, he is a Ph.D. research scholar in Jawaharlal Nehru University in the group of Dr. Pritam Mukhopadhyay.
              His current research interests include Design, Synthesis of Phospholes, Azacenes with potential applications in singlet fission and TADF materials, Out of equilibrium supramolecular self assembly and Polycyclic heteroaromatics..</p>
            </div>

              <button class="button">

                <a href="mailto:bhalla.varun1130@gmail.com">bhalla.varun1130@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>

      <!-- Anand -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/anand.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Research Assistant</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Anand Sahu </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>My research work includes synthesis, isolation, and analytical characterization of novel compounds with low-lying LUMO levels, multi-redox states, and involving multiple air/moisture-sensitive organic multistep processes. In addition to chemical synthesis, I have experience in the application of machine learning and deep learning in chemistry and in advanced data analysis, as well as a good theoretical grasp of algorithms and
               the ability to put them into practice using the Python programming language.</p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">anandsahujnu11@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!-- Annirudh  -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/anirudha.jpg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Master's Student</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Aniruddha Mandal </b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>
              synthesis of pillar[5]arene based radical ion pairs and machine learning driven prediction of macrocycle synthesis with different pi scaffold. Completed 
              B.Sc.(Hons.) from Netaji Mahavidyalaya under the University of Burdwan, West Bengal
            </p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">aniruddhamandal607@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!-- Muskan -->
      <div class="p-12 md:w-1/4">
        <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/muskan.jpeg" alt="blog" style="height:250px">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Master's Student</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Muskan</b></h1>
            <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
            <div class="content">

            <p>Synthesis of pillar[5]arene based radical ion pairs and machine learning driven prediction of macrocycle synthesis with different pi scaffold
            </p>
            </div>

              <button class="button">

                <a href="mailto:rustam@gmail.com">muskan8b@gmail.com</a>
  
                
              </button>
            
            <div class="flex items-center flex-wrap ">
              
            </div>
          </div>
          <hr>
        </div>
      </div>





    </div>
  </div>
</section>


<div class="header">
  <h1>Alumni</h1>
  
</div>


<section>

  <br>
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">Post Doctorol</h1>


  <section class="text-gray-600 body-font">
    <div class="container px-2 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
  
  <!-- Pritam -->
        <div class="p-12 md:w-1/4">
          <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden ">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/soumi.jpg" alt="blog" style="height:250px">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Post-Doc</h2>
              <h1  class="title-font text-lg font-medium text-gray-900 mb-3"> <a href="/pritam2"><b> Soumi De </b></a></h1>
              
              
              
              <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
              <div class="content">
  
              <p>Soumi De obtained herB.Sc from the University of Burdwan and M.Sc degrees from Bengal Engineering and Science University, Shibpur,
                 Howrah, West Bengal. She received her Ph.D. from Indian Institute of Science,Bangalore under the guidance of Prof. Puspendu K. Das. 
                 He then joined the group of Dr. Pritam Mukhopadhyay as a post-doctoral fellow, where she worked on the synthesis a of metal nanoparticles using 
                 ambient-stable organic radicals and their characterizations. Her major contribution in this group is to analyse the bio-inspired organic molecules for
                  piezoelectric, ferroelectric application by using highly sophisticated atomic force microscope in PFM mode. She has also performed the conductivity 
                  measurement of organic molecules in the picoampere-regime by utilizing CP-AFM technique. Her research interest lies in the application of spectroscopic 
                  (SHG, SPR etc) and 
                microscopic (Optical, PFM, CP-AFM etc) techniques in detail analysis of organic and organometallic molecules.</p>
              </div>
  
  
              <button class="button">
                 <a href="mailto:soumi.de85@gmail.com">soumi.de85@gmail.com </a>
             </button>
              
            </div>
          </div>
          <hr>
        </div>
  
        <hr>
  <!-- Sunanda -->
  
        <div class="p-12 md:w-1/4">
          <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/deepak-bansal.jpg" alt="blog" style="height:250px">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Post-Doc</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Sunanda Sahana </b></h1>
              <button type="button" class="collapsible">Research Interest</button>
              <div class="content">
  
              <p>Deepak Bansal obtained his B.Sc and M.Sc degrees from Kirorimal College,
                University of Delhi, India. He obtained his Ph.D. from University of Delhi, India,
                under the guidance of Prof. Rajeev Gupta. He was awarded National
                Postdoctoral Fellowship to work on project ‘Design and Synthesis of
                Naphthalenediimide- based Organic Radical Ions and their Tuned Metal
                Complexes for Magnetic Studies‘ with Dr. Pritam Mukhopadhyay at the
                Jawaharlal Nehru University, Delhi, India. Later, he joined Institute of resource ecology in Helmholtz-
                Zentrum Dresden-Rossendorf, Dresden, Germany, as Scientific Employee at work on understanding
                the coordination chemistry of Actinide elements. Presently, he is working at Department of Material
                Sciences at Luxembourg Institute of Science and Technology with Dr. Nicolas Boscher on the project
                ‘CLEAN-H2’. His focus and research interest are the development of Conjugated Microporous
                Polymers for Heterogeneous Catalysis. His group’s research interests involve the fabrication of thin
                films on different surfaces (OFET, Glass, FTOs etc.) using Oxidative Chemical Vapour Deposition
                Technique and analysing their conductive and catalytic properties of the materials.</p>
              </div>
  
              
              <button class="button">
  
                <a href="mailto:deepakbans@gmail.com">deepakbans@gmail.com </a>
  
                
              </button>
              <div class="flex items-center flex-wrap">
                
              </div>
            </div>
            
          </div>
        </div>
  
  
      
  
      </div>
    </div>
  </section>










         

  <section>

    <br>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">PhD</h1>

    <section class="text-gray-600 body-font">
      <div class="container px-2 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
    
    <!-- Pritam -->
          <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden ">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/ajay.png" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1  class="title-font text-lg font-medium text-gray-900 mb-3"> <a href="/pritam2"><b> Ajay MR </b></a></h1>
                
                
                
                <button type="button" class="collapsible" text-align="justify-center"> Research Interest</button>
                <div class="content">
    
                <p>M. R. Ajayakumar obtained his PhD from the School of Physical Sciences,
                  Jawaharlal Nehru University (India) in 2013 under the supervision of Prof.
                  Pritam Mukhopadhyay. Later he joined the research group of Prof. Jaume
                  Veciana at Institut de Ciència de Materials de Barcelona (Spain) for his first
                  postdoctoral research. Currently, he is working as a postdoctoral researcher
                  in Prof. Xinliang Feng at the Chair of Molecular Functional Materials,
                  Technische Universität Dresden (Germany). His current research interests
                  are the bottom-up synthesis, characterization, and applications of functional organic molecules such
                  as polyaromatic hydrocarbons, open-shell nanographenes, and graphene nanoribbons.</p>
                </div>
    
    
                <button class="button">
                   <a href="mailto:mr.ajay.mr@gmail.com">mr.ajay.mr@gmail.com </a>
               </button>
                
              </div>
            </div>
            <hr>
          </div>
    
          <hr>
    <!-- Sunanda -->
    
          <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/shravan.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Shravan Kumar</b></h1>
                <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Sharvan Kumar obtained his B.Sc. and M.Sc. degrees from University of
                  Allahabad, India. He obtained his Ph.D. from Jawaharlal Nehru University,
                  India under the guidance of Dr. Pritam Mukhopadhyay. He then joined Indian
                  Institute of Technology, Delhi as Research Associate in the group of Prof.
                  Nidhi Jain and Prof. Shalini Gupta, where he worked on the synthesis and
                  studies of antibacterial compounds and photocatalyst. Thereafter, he worked
                  with Prof. Shu Seki at the Kyoto University, Japan as a JSPS fellow, where he
                  worked on the synthesis and studies of photo-conductive materials. He then joined the group of
                  Prof. T. B. Marder at the Julius Maximilian University of Würzburg, Germany as an Alexander von
                  Humboldt fellow where he is working on the synthesis and studies of fluorophores for live-cell
                  imaging. His research interests involve the synthesis and stabilization of highly electron-deficient,
                  electron-rich organic materials and their radical ions for conductivity and magnetism applications as
                  well as an additive material for Li-ion battery. He is also interested in the design and synthesis of
                  organic fluorescent materials for live-cell imaging/sensing and for photocatalysis.</p>
                </div>
    
                
                <button class="button">
    
                  <a href="mailto:shravan.aug12@gmail.comm">shravan.aug12@gmail.com </a>
    
                  
                </button>
                <div class="flex items-center flex-wrap">
                  
                </div>
              </div>
              
            </div>
          </div>
    
        <!-- Sudhir -->
    
          <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/sudhir.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Sudhir Kumar Kesari </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Sudhir Kumar Keshri obtained his B.Sc and M.Sc degrees from Babasaheb
                  Bhimrao Ambedkar Bihar University, India. He obtained his Ph.D. from JNU
                  New Delhi, India under the guidance of Prof. Pritam Mukhopadhyay. He then
                  joined the group of Prof. Masayuki Takeuchi at the National Institute for
                  Materials Science (NIMS), Japan as a post-doctoral fellow, where he worked
                  on the synthesis and studies of novel π-conjugated systems with an emphasis
                  on molecular and supramolecular chemistry. Currently, he is working with
                  Prof. Marina A. Petrukhina at the University at Albany - State University of New York, USA as a post-
                  doctoral fellow. His current research interests involve the synthesis and characterization of severally
                  anionic and cationic polycyclic aromatic hydrocarbons (PAHs).</p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:skjnu2011@gmail.com">skjnu2011@gmail.com</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>
<!-- Deepak -->


          <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/deepak-asthana.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Deepak Asthana </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Deepak Asthana obtained his B.Sc and M.Sc degrees from University of
                  Allahabad, India. He obtained his Ph.D. from Jawaharlal Nehru University,
                  India, under the guidance of Prof. Pritam Mukhopadhyay. He then joined the
                  group of Prof. N. Kimizuka at the Kyushu University, Fukuoka, Japan, as a JSPS
                  post-doctoral fellow, where he worked on the triplet-triplet annihilation-
                  based photon up-conversion in aqueous media. Later, he worked with Prof.
                  Richard Winpenny at the University of Manchester, United Kingdom, as a
                  research associate. He then joined the Department of Chemistry, Ashoka University, Haryana, India,
                  where he is currently an Assistant Professor. His group’s research interests involve the design and
                  synthesis of chiral fluorescent systems for optoelectronic applications.</p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:deepak.asthana@ashoka.edu.in">deepak.asthana@ashoka.edu.in</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>



          <!--  Yogendra-->

          <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/Yogendra.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Yogendra Kumar </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Yogendra Kumar obtained his B.Sc and M.Sc degrees from Choudhary Charan
                  Singh University, Meerut, India. He obtained his Ph.D. from JNU New Delhi,
                  India under the guidance of Prof. Pritam Mukhopdhyay. He then joined the
                  group of Prof. Marcin Stepien at the University of Wroclaw, Polland as a post-
                  doctoral fellow, worked on polycyclic aromatic compound. Currently, he
                  working with Prof. Hyunuk Kim at the Korea Institute of Energy Research,
                  Daejeon, South Korea as a postdoc fellow. His group’s research interests
                  involve the synthesis of a conductive metal organic framework and their
                  applications related to lithium ion battery and capacitors. The group is also interested in CO 2
                  catalysis.</p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:ykchem007@gmail.com">ykchem007@gmail.com</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>


          <!-- Jyoti -->

           <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/jyoti.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Jyoti Shukla </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>
                  Jyoti Shukla received her B. Sc. and and M. Sc. degrees from
                  Chhatrapati Shahu Ji Maharaj University Kanpur, India. She
                  completed her Ph. D. degree under the supervision of Dr.
                  Pritam Mukhopadhyay at the School of Physical Sciences,
                  Jawaharlal Nehru University, New Delhi. She is currently a
                  Post-Doctoral fellow at IIT Delhi under the supervision of
                  Prof. S. Nagendran. Her research interests include
                  modulation of band gap in organic dyes for solar cell
                  application, synthesis of stable zwitterionic radicals as
                  ground state electron donors, multistate electron reservoir
                  systems for their application in advanced energy storage
                  systems. She is also involved in the studies of counter anion dependent ionic organic proton
                  conducting material for application in fuel cell, rigid rectangular molecular box with supramolecular
                  and material aspects.


                </p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:jyotishukla.jnu@gmail.com">jyotishukla.jnu@gmail.com</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>

          <!-- Dana -->

           <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/srikanta.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Srikant Dana </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Srikanta Dana obtained his B.Sc from The University of Burdwan and M.Sc
                  from IIEST Shibpur, India. He obtained his Ph.D. from JNU, India under the
                  guidance of Dr. Pritam Mukhopadhyay (SPS, JNU) and Prof. Suman K. Dhar
                  (SCMM, JNU). He then joined the Franzini Lab at the University of Utah, SLC,
                  USA as a post-doctoral fellow, where he worked on advancement and
                  application of DNA-Encoded Chemical Library (DEL) technology in drug
                  discovery and chemical biology. Later, he worked at TGen, Phoenix, US as a
                  TGen postdoctoral fellow. At TGen he worked on in-sillico design and synthesis of small molecules at
                  Hit to Lead/advance Lead optimization stages of Med Chem – Drug Discovery projects at Applied
                  Cancer Research and Drug Discovery Division in the group of Prof. Sunil Sharma. At Quantitative
                  Medicine and System Biology Division in the group of Prof Nicholas Schork at TGen he worked on
                  Human micro RNA-SRAS-CoV-2 genome interaction study using In-silico tools, and Designing
                  RNA-binding small molecules using InfoRNA database (Scripps). He then joined Orion Corporation,
                  Espoo, Finland as a Senior Scientist at R and D-Medicine Design, Discovery Chemistry Unit.





                </p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:srikanta.dana@orionphrama.com">srikanta.dana@orionphrama.com</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>

          <!-- Mandal -->


           <div class="p-12 md:w-1/4">
            <div class="h-full border-2 border-gray-900 border-opacity-100 overflow-hidden">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/static/img/person/kalyan.jpg" alt="blog" style="height:250px">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">PhD Scholar</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><b> Kalyanashish Mandal </b></h1>
               
    
                  <button type="button" class="collapsible">Research Interest</button>
                <div class="content">
    
                <p>Kalyanashis did his B. Sc. and and M. Sc. from University of
                  Calcutta and Guru Ghasidas University. He then joined
                  School of Physical Sciences, Jawaharlal Nehru University,
                  New Delhi for his Ph. D. under the supervision of Dr. Pritam
                  Mukhopadhyay. He is a CSIR-Research Associate Fellow IIT
                  Delhi. His research interests include synthesis of organo-
                  chalcogenides, halogen bonding and sensing applications. He
                  has worked extensively for the understanding of
                  intramolecular non-covalent interactions with the aid of
                  computational studies.
                
                </p>
                </div>
    
                  <button class="button">
    
                    <a href="mailto:kmandal9@gmail.com">kmandal9@gmail.com</a>
    
                    
                  </button>
                <div class="flex items-center flex-wrap ">
                  
                </div>
              </div>
              <hr>
            </div>
          </div>


    
        </div>
      </div>
    </section>
  
  
  
  



























        
           





    <section>

      
              
            



        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
              <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Master's and Research Project Students</h1>
            </div>


            <div class="flex flex-wrap -m-4">
              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/ravipujala.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Ravi Kumar Pujala</h2>
                    <h3 class="text-gray-500 mb-3">M.Sc. Project (2006)</h3>
                    <p class="mb-4">School of Physical Sciences, <Br>
                      Jawaharlal Nehru University, <Br>
                      New Delhi </p>
                   
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/Fela.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Lalruatfela</h2>
                    <h3 class="text-gray-500 mb-3">Summer project (2007) and M.Sc. final semester project (2008) </h3>
                    <p class="mb-4">Project Title: Design, synthesis and characterization of n-type organic semiconductors.<Br>
                      <Br>
                      Presently pursuing Ph.D. (since July 2009) under the supervision of Dr. Harshawardhan Wanare at Department of Physics, IIT Kanpur.
                      Ph.D. Area: Imaging in random media .</p>
                   
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Rashu Mehandiratta</h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project Fellow (2007)</h3>
                    <p class="mb-4">Punjab University </p>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/Nagabhushanam.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Nagabhushanam Patti</h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project Fellow (2008)</h3>
                    <p class="mb-4">University of Hyderabad </p>
                  
                  </div>
                </div>
              </div>

              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900"> Gijo George </h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project Fellow (2008)</h3>
                    <p class="mb-4">Presently he is doing Ph.D. and is a member of Dr S Raghothama's Group (NMR Research Center) at Chemistry Department, IISc, Bangalore.  </p>
                  
                  </div>
                </div>
              </div>



              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Ravi Shankar Pandey </h2>
                    <h3 class="text-gray-500 mb-3">M.Sc. final semester project (2009) </h3>
                    <p class="mb-4">School of Physical Sciences, Jawaharlal Nehru University, New Delhi.<Br>
                      Project Ttile: Synthesis and characterization of nanoarchitecture from amphiphiles molecules.  </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/sriram.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Sriram kumar </h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project (Indian Academy of Sciences)</h3>
                    <p class="mb-4">Recently graduated from IIT Roorkee with a B.tech degree in Chemical Engineering. He was also a research internee with the Bonventre group at Harvard Institute of Medicine, USA under the supervision of Dr. Venkata Sabbisetti. Currently a PhD candidate and a member of the Mandal group in the Department of Chemistry at Carnegie Mellon University, he works on Single Molecule Biophysics of micro-RNA. The group primarily focuses on Single Molecule Biophysics, Optical Tweezers, Molecular Motors, Biochemistry of
RNA and Nucleic acids and primarily is an inter-disciplinary group.   </p>
                  
                  </div>
                </div>
              </div>

              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/ravi-iiser.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900"> Ravi Kumar </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern from 17th May-19th july 2010 </h3>
                    <p class="mb-4">Project Title: Synthesis of Coronene Imides and studying reactions of phenol derivatives with pyromellitic dianhydride. <Br>
                      Graduated from IISER Kolkata. Currently working as Associate Professor of chemistry at FIIT JEE, Patna.   </p>
                  
                  </div>
                </div>
              </div>

              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">H. C. Sudeeksha </h2>
                    <h3 class="text-gray-500 mb-3"> Summer Intern (Indian Academy of Sciences)-2010.</h3>
                    <p class="mb-4">Project Title: Core substitued naphthalene diimides.<Br><Br>
                      He has completed his BSc in Biotechnology from St. Aloysius college, Mangalore (Mangalore University) in 2009 and MSc in Chemistry from National Institute of Technology Karnataka, Surathkal in 2011.
Then he worked as a project student under the guidance of Prof Siva Umapathy in IISc, Bangalore, from 2012-2013. Later, in August 2013, he joined as a PhD student in the same group.   </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Deepika Bansal </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern-2010 </h3>
                    <p class="mb-4">St. Stephen's College, New Delhi <Br>
                      Project Title: Investigating the synthesis of luminescent materials with modulable electronic properties based on triphenylenevinylene derivatives.  </p>
                  
                  </div>
                </div>
              </div>



              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/swapnil.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Swapnil Barmase  </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern-2011 </h3>
                    <p class="mb-4">Project Title: Synthesis of novel organic dyes using radical anion as precursor & synthesis of functionalized TTF derivatives.<Br>
                      Graduated from IISER Kolkata  </p>
                  
                  </div>
                </div>
              </div>



              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Priyanshu Bhargava  </h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project </h3>
                    <p class="mb-4">Malviya National Institute of Technology <Br>
                      Project Ttitle: Synthesis of naphthalene diimide core substituted amphiphiles.   </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/mohanrao.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Mohan Rao  </h2>
                    <h3 class="text-gray-500 mb-3">Summer Research Project </h3>
                    <p class="mb-4">School of Physical Sciences, Jawaharlal Nehru University, New Delhi.<Br>
                      Project Ttile: Synthesis and characterization of nanoarchitecture from amphiphiles molecules.  </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">Sayan Das  </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern (KVPY Fellow)-2012 </h3>
                    <p class="mb-4">Indian Institute of Technology, Kanpur <Br>
                      Project Title: Synthesis of diphosphonium radical anion.   </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">G. Veera Babu  </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern (Indian Academy of Sciences)-2013 </h3>
                    <p class="mb-4">Project Title: Core substitued naphthalene diimides. <Br>
                      Has obtained Graduation from Triveni Degree College, Jangareddigudem, West Godavari, Andhra Pradesh University (APU) and Postgraduation from Govt. Arts College, Rajahmundry, East Godavari, APU, Visakhapattanam, Andhra Pradesh.   </p>
                  
                  </div>
                </div>
              </div>


              <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-left sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/img/person/atul.jpg">
                  <div class="flex-grow sm:pl-8">
                    <h2 class="title-font font-medium text-lg text-gray-900">  Atul Shukla   </h2>
                    <h3 class="text-gray-500 mb-3">Summer Intern -2013.  </h3>
                    <p class="mb-4">Indian Institute of Technology, Roorkee  <Br>
                      Project Title: Synthesis of divalent host of the molecular double plug-socket system.    </p>
                  
                  </div>
                </div>
              </div>



            </div>
          </div>
        </section>


      </section>



      <section>

        
      
        








        <script>
          var coll = document.getElementsByClassName("collapsible");
          var i;
          
          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                content.style.display = "none";
              } else {
                content.style.display = "block";
              }
            });
          }
          </script>


</section>

{% endblock body %}
